<%= link_to "Homepage", root_url %>

<h1><u>Contact us:</u></h1>

Email: <h2><font color = "#3265ba">Farah@ideas.com</font></h2><br>
Phone number: <h2><font color = "#3265ba">b0000000111 </font> </h2><br>
Fax: <h2><font color = "#3265ba">b0000011001</font></h2><br>
