<div align "center"><h1>Already logged in! </h1></div>

<!-- If already logged in normally, shows user's full name.-->
<!-- If already logged in with facebook or twitter, show's username used in the social networks.-->
Signed in as 
<strong>
	<% if current_user.uid == nil %>
		 <%= current_user.full_name %> 
	<% else %>
		 <%= current_user.name %>
	 <% end %>
</strong>!<br>

    <%= link_to "Sign out", signout_path, id: "sign_out" %>
