  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <!-- <link rel="stylesheet" href="style.css"> -->
    <%= stylesheet_link_tag 'style' %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  </head>


  <%= render "/shared/navbarloggedin"%>
  <div class="jumbotron other-color">
      <div class="container-fluid">
            <div class="jumbotron other-color">
            <h2 style="margin-left: 450px; margin-top: 200px;">Share your ideas by creating a new forum</h2>
              <div class="container-fluid" style="margin-left: 650px; margin-top: 50px;">
              <button class="btn btn-success" data-toggle="modal" data-target="#create_forum">Create Forum</button>
        </div>
      </div>
    </div>
        </div>
      </div>
    </div>

    

