<html>
		<h1><%=Forum.find(params[:forum_id]).title%>'s Ideas:</h1>
		<ul>

			<% @ideas.each do |idea| %>
			<li>
          <%= link_to "#{idea.title}" , forum_idea %>

			</li>
			<%end%>

		</ul>
<p>
				<a href='/forums/:forum_id/ideas/new'>Post an idea<a>
			</p>
</html>
