<p>You should join forum first</p>

<% if @forum.privacy == "1" %>
  <%= button_to('Join Forum', join_forum_path(@forum),
            method: "post",  data: { disable_with: 'Joining...' }) %>
  <% elsif @forum.privacy == "2" %>
  <%= button_to('Request joining forum', join_forum_path(@forum),
            method: "post",  data: { disable_with: 'Pending...' }) %>
  <% end %>

  <%= link_to 'back to forums list', :controller => "forums", :action => :index %>