<html>
	<h4> Enter your search query: </h4>
	<%= form_tag("/search", method: "get") do %>
		<%= label_tag(:q, "Search for:") %>
		<%= text_field_tag(:q) %>
		<%= submit_tag("Search") %>
	<% end %>
</html>