/* line 1, C:/Users/mayad_000/Documents/GitHub/SEproject/app/assets/stylesheets/users.css.scss */
h1 {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-size: 36px;
  color: #606;
}

/* line 7, C:/Users/mayad_000/Documents/GitHub/SEproject/app/assets/stylesheets/users.css.scss */
body {
  margin: auto;
}

/* line 11, C:/Users/mayad_000/Documents/GitHub/SEproject/app/assets/stylesheets/users.css.scss */
.profilepic {
  position: relative;
  left: 40px;
  top: 76px;
  width: 550px;
  height: 350px;
}

/* line 19, C:/Users/mayad_000/Documents/GitHub/SEproject/app/assets/stylesheets/users.css.scss */
.information {
  position: relative;
  left: 700px;
  top: 430px;
  width: 242px;
  height: 672px;
}

/* line 27, C:/Users/mayad_000/Documents/GitHub/SEproject/app/assets/stylesheets/users.css.scss */
.ideaslist {
  position: absolute;
  left: 73px;
  top: 10px;
  width: 392px;
  height: 735px;
  top: 822px;
}

/* line 36, C:/Users/mayad_000/Documents/GitHub/SEproject/app/assets/stylesheets/users.css.scss */
.friendlist {
  position: absolute;
  width: 157px;
  height: 330px;
  left: 693px;
  right: 40px;
  top: 96px;
}

/* line 46, C:/Users/mayad_000/Documents/GitHub/SEproject/app/assets/stylesheets/users.css.scss */
h2 {
  font-family: "Comic Sans MS", cursive;
  text-outline: #0FC;
  text-shadow: #0C6;
}

/* line 52, C:/Users/mayad_000/Documents/GitHub/SEproject/app/assets/stylesheets/users.css.scss */
p {
  font-family: "Comic Sans MS", cursive;
  color: #303;
}

/* line 57, C:/Users/mayad_000/Documents/GitHub/SEproject/app/assets/stylesheets/users.css.scss */
ul#menu {
  padding: 0;
}

/* line 61, C:/Users/mayad_000/Documents/GitHub/SEproject/app/assets/stylesheets/users.css.scss */
ul#menu li {
  display: inline;
  background-color: #606;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 4px 4px 0 0;
}

/* line 70, C:/Users/mayad_000/Documents/GitHub/SEproject/app/assets/stylesheets/users.css.scss */
.headerlist {
  background-color: #606;
  width: 100%;
  position: fixed;
  z-index: 1;
}

/* line 76, C:/Users/mayad_000/Documents/GitHub/SEproject/app/assets/stylesheets/users.css.scss */
.foroums {
  position: absolute;
  left: 686px;
  top: 542px;
  width: 256px;
  height: 201px;
}

/* line 83, C:/Users/mayad_000/Documents/GitHub/SEproject/app/assets/stylesheets/users.css.scss */
#ideacolumn {
  border: 2px solid;
  border-radius: 25px;
  background-color: #606;
  color: white;
}

/* line 90, C:/Users/mayad_000/Documents/GitHub/SEproject/app/assets/stylesheets/users.css.scss */
#forumcolum {
  border: 2px solid;
  border-radius: 25px;
  background-color: #396;
  color: white;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */

