<p>Requests to join my Forums: </p>
<table>
  
  <% if @requests == nil %>
  <p> No new requests </p>
  <% else %>
  <tr>
    <th>Forum</th>
    <th>User</th>
    <th></th>
    <th></th>

  </tr>
  <% @requests.each do |request| %>
    <tr>
      <td>
      		<%= request.first.forum_id %>
      </td>
      <td>
      		<%= request.first.user_id  %>
        </td>
      
      <td>
      		

         
            <%= link_to "[Accept]", "/users/accept_join_request?forum=#{request.first.forum_id}&user=#{request.first.user_id}" %> |

      </td>
      <td>
      		
            <%= link_to "[Reject]", "/users/reject_join_request?forum=#{request.first.forum_id}&user=#{request.first.user_id}" %>
      </td>


      </tr>


      
      <% end %>
    
  <% end %>
</table>

