<!DOCTYPE html>
<html lang="en">
	<head>
	<title>Bootstrap Example</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
		<link rel="stylesheet" href="style.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
	</head>
	<body>
		<nav class="navbar navbar-fixed-top white">
			<div class="container">
				<div class="navbar-header">
					<a class="navbar-brand" href="#">iDea</a>
				</div>
				<div>
					<ul class="nav navbar-nav">
						<li class="active"><a href="#">Home</a></li>
						<li><input class="form-control" type="text" placeholder="Looking for something?" style="margin-top: 9px; width: 250px;"></a></li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						
        				<li><a href="#">Notifications</a></li>
        				<li class="dropdown">
  							<a class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">Mohamed<span class="caret"></span></a>
  							<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
    							<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Profile</a></li>
    							<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Settings</a></li>
    							<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Help</a></li>
    							<li role="presentation" class="divider"></li>
    							<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Logout</a></li>
  							</ul>
        				</li>
      				</ul>
				</div>
			</div>
		</nav>
	</body>
</html>