<nav class="navbar navbar-fixed-top white">
	<div class="container">
		<div class="navbar-header">
			<a class="navbar-brand" href="">iDea</a>
		</div>
		<div>
			<ul class="nav navbar-nav">
				<li><input class="form-control" type="text" placeholder="Looking for something?" style="margin-top: 9px; width: 250px;"></a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
    				<li><a data-toggle="modal" data-target="#signUp"><i class="fa fa-user-secret fa-2x"></i> </a></li>
  			</ul>
		</div>
	</div>
</nav>