

<ul>


  

<% @friends.each do |friend| %>

  <li>
  	
  	<% if friend.user_name == current_user.username && friend.status ==true %>
  	
    <%= h friend.friend_name%>
    
 
  (<%= link_to "remove", friend, :method => :delete %>)
      
<% end %> 
  </li>
  <% end %>  
 


  
</ul>
