

<ul>
<% if current_user.friendships.size !=0 %>
  <% for friendship in current_user.friendships %>
  <li>
    <%= h friendship.friend.username %>
    (<%= link_to "remove", friendship, :method => :delete %>)
  </li>
  <% end %>  
  <% else %>
<em> where are you friends at ..</em>
  <% end %>
</ul>
