

<ul>


<% @users.each do |user| %>


<% for friendship in user.friendships %>



  <li>
  	
<% if  friendship.friend_name == current_user.username && friendship.status == true %>
  	

  	
    <%= h friendship.user_name %>
    (<%= link_to "remove", friendship, :method => :delete %>)
<% end %> 





    
       

  </li>
   
 

<% end %> 
<% end %> 
  
</ul>
