
<ul>

<% for friendship in current_user.friendships %>
<% if friendship.pending == nil %>
<em> no pending requests </em> 
 <% else %> 
<li>
	<% if friendship.status != nil  %>
	<% else %>
    <%= h friendship.pending %>
    (<%= link_to '[Accept]', friendship, :method => :put, :confirm => 'Accept friend request! Are you sure?' %> |)
    (<%= link_to '[Reject]', friendship, :method => :delete, :confirm => 'Reject friend request! Are you sure?' %>)

</li>
    <% end %>
<%end %>
 
 <%end %>
</ul>