
<ul>
<% @users.each do |user| %>


<% for friendship in user.friendships %>



<% if friendship.requested == current_user.username && friendship.status == nil  %>
<li>
    
    <%= h friendship.requester %>
    (<%= link_to '[Accept]', friendship, :method => :put, :confirm => 'Accept friend request! Are you sure?' %> |)
    (<%= link_to '[Reject]', friendship, :method => :delete, :confirm => 'Reject friend request! Are you sure?' %>)


</li>







<%end %>



<%end %>




<%end %>
  
 
</ul>