
<ul>
<% @users.each do |user| %>

<% for friendship in user.friendships %>
  <%   if friendship.status ==1 || friendship.requested != current_user.username  %>
<em> no pending requests </em> 




<% else %> 
<li>
    
    <%= h friendship.requester %>
    (<%= link_to '[Accept]', friendship, :method => :put, :confirm => 'Accept friend request! Are you sure?' %> |)
    (<%= link_to '[Reject]', friendship, :method => :delete, :confirm => 'Reject friend request! Are you sure?' %>)


</li>



    <%end %>
<%end %>
 <%end %>
 
</ul>