<% if @friends.empty? %>
	<em> You have no friends  </em>
<% else %>
<ul>
	<% @friends.each do |friend| %>
		<li>
		<%= link_to friend.username, user_path(friend) %>
		</li>
	<% end %>
</ul>
<% end %>
