<% if @friends.empty? %><br>
	<em> You have no friends  </em>
<% else %>
<table>
	<% @friends.each do |friend| %>
		<tr>
		<%= link_to friend.username, user_path(friend) %>
		</tr><br>
	<% end %>
</table><br>
<% end %>
