<% for current_user in @users %>
  <div class="user">
    <p>
      <strong><%=h current_user.username %></strong>
      <%= link_to "Add Friend", friendships_path(:friend_id => current_user), :method => :post %>
      <div class="clear"></div>
    </p>
  </div>
<% end %>