

<div><% @users.each do |user| %>
<% if user != current_user %>
<%= user.username %> <%= link_to "Add Friend", friendships_path(:friend_id => user), :method => :post %>
<% end %>
<%end %></div>


