<html>

<h1> Show All Users </h1>


<body>
<% @users.each do |user| %>
<%= user.username %> <%= link_to "Add Friend", friendships_path(:friend_id => user), :method => :post %>
<% end %>
</body>
<html>