
<<<<<<< HEAD

Current Friends:
=======
<p>Current Friends:
>>>>>>> 2a2a7bd6ce768d0cd89cb20e7abbc41e9877a2c5
<%= render :partial => 'friends' %>
</p>
<p>Requested Friends:
<%= render :partial => 'requested_friends' %>
</p>
<p>Pending Friends :
<%= render :partial => 'pending_friends' %>
</p>

