
<p>Current Friends:
<%= render :partial => 'friends' %>
</p>
<p>Requested Friends:
<%= render :partial => 'requested_friends' %>
</p>
<p>Pending Friends :
<%= render :partial => 'pending_friends' %>
</p>

