<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @user.name %>,</h1>
    <p>
      Here's your old password: <h3><%= @user.password %></h3>  <br>
      To change it, <a href="http://localhost:3000/forgot">Click here!</a></h5><br>

      For more information about our website <a href="http://localhost:3000/help">click here</a>.
    </p>
  </body>
</html>