<h1>Sysadmins#edit</h1>
<p>Find me in app/views/sysadmins/edit.html.erb</p>
<% if @user_tmp %>
	<%= @user_tmp.username %>
<% else %>
	<h1>Omar</h1>
<% end %>

<% @users.each do |user| %>
<table border='1'>
<tr>
  <td><%= link_to user.email, edit_path %></td>
</tr>
<% end %>