<h1>Sysadmins#edit</h1>
<p>Find me in app/views/sysadmins/edit.html.erb</p>


<% @users.each do |user| %>
<table border='1'>
<tr>
  <td><%= link_to user.email, edit_path %></td>
</tr>
<% end %>